<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - Checklist</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/Checklist.styles.css" asp-append-version="true" />
</head>
<body>
    <header>
        @if (TempData["Error"] != null)
        {
            <h2 class="alert-info">@TempData["Error"]</h2>
        }
        @if (User.Identity.IsAuthenticated)
        {
            <nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-dark bg-dark border-bottom box-shadow mb-3">
                <div class="container-fluid mx-5">
                    <div class="navbar-collapse collapse d-sm-inline-flex ">
                        <ul class="navbar-nav flex-grow-1 align-items-center">
                            <li class="nav-item">
                                <h5><a class="nav-link text-light" asp-area="" asp-controller="Assignment" asp-action="Index">My tasks</a></h5>
                            </li>
                            <li class="nav-item  ms-3">
                                <h5><a class="nav-link text-light" asp-area="" asp-controller="Completed" asp-action="Index">Completed tasks</a></h5>
                            </li>
                            <h4 class="ms-auto my-auto"> Hi @User.Identity.Name! </h4>
                            <form asp-controller="Account" asp-action="Logout">
                                <button class="btn btn-danger ms-3">Logout</button>
                            </form>
                        </ul>
                    </div>
                </div>
            </nav>
        }
    </header>
    <div class="container">
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>

    <footer class="border-top footer">
        <div class="container">
            &copy; 2022 - Checklist - <a asp-area="" asp-controller="Home" asp-action="Privacy">Privacy</a>
        </div>
    </footer>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
