<body>

    <div style="position:fixed; bottom:50%; left:50%">
        <button class="btn btn-dark my-3 px-3 py-1">
            <a class="link-light text-decoration-none" asp-controller="Account" asp-action="Login">Login</a>
        </button>
        <button class="btn btn-dark my-3 px-3 py-1">
            <a class="link-light text-decoration-none" asp-controller="Account" asp-action="Register">Register</a>
        </button>
    </div>
</body>